.logo{
font-family: barlow;
border-style: solid;
border-width: 2px;
max-width: 80px;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
}

.slogan{
font-family: barlow;
font-style: italic;
margin-left: 10px;
}

.banner{
margin-top: 30px;
font-family: barlow;
font-style: italic;
color: #ffffff;
background-color: #000066;
max-width: 900px;
text-align: center;
letter-spacing: 3px;
}

.intro,.stranger-desc{
font-family: barlow;
}

body{
background-color: #ffcc33;
}

.bar{
width: 50px;
height: 500px;
background-color: #000000;
}

.title{
font-family: barlow;
font-size: 40px;
margin-left: 240px;
position: relative;
top: -400px;
}

.netflix{
font-family: barlow;
color: #ff3300;
font-size: 100px;
line-height: 1px;
margin-left: 330px;
position: relative;
top: -400px;
}

.crown,.altered,.end,.stranger{
border-radius: 50%;
position: relative;
top: -620px;
right: -400px;
}

.altered{
top: -315px;
right: -1200px;
}

.end{
top: 10px;
right: 100px;
}

.stranger{
top: -300px;
right: 900px;
}

.stranger-title{
font-family: barlow;
font-weight: bold;
font-size: 20px;
position: relative;
right: -350px;
top: -535px;
}

.dot1{
width: 30px;
height: 30px;
background-color: #000000;
position: relative;
right: -525px;
top: -580px;
}

.stranger-desc{
position: relative;
top: -580px;
right: -40px;
}



